<% if @pagy.count > @pagy.items %>
<div class="mt-10">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
<br />
<% end %>
<div id="lists" class="min-w-full">
  <%= render @lists %>
</div>
<%= render @lists %>
