<div class="flex space-x-3">
  <%= form.text_field :query, class: "py-2 px-4 rounded border ring-0
  focus:ring-4 focus:ring-orange-100 focus:shadow-none
  focus:border-orange-500 dark:text-slate-800 focus:outline-none",
  data: {action: "input->search-form#search"} %>
        <%= form.submit 'Search', class: "px-4 py-2 font-medium
  bg-orange-600 text-neutal-900 rounded flex items-center
  cursor-pointer hover:bg-orange-400 focus:ring-4 ring-0
  text-gray-900 hover:text-gray-100 focus:ring-orange-100" %>
<% if @pagy.count > @pagy.items %>
<hr />
<div class="mt-1">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
<hr />
<% end %>

<%= render @tags %>
